<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" preserve-order="true">
    <classes>
    	<class name="com.ace.testcases.LoginTest"/>
    	<class name="com.ace.suite.testcase.manager.CreatePropertyTest"/>
      	<class name="com.ace.suite.testcase.manager.AssignInspectorTest"/>
      	<class name="com.ace.suite.testcase.manager.UpdateInspectionTest"/>
      	<class name="com.ace.suite.testcase.manager.UpdatePropertyTest"/>
      	<class name="com.ace.suite.testcase.manager.AttachReportTest"/>
      	<class name="com.ace.suite.testcase.manager.ApproveInspectionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
